{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="w3-card-6" style="width:56%">

            <div class="container">
                {% for img in posts %}
                <div class="imagepadding">
                    <div class="panel panel-primary">
                        <p class="usernamehome-dp">
                            <strong> created_by: {{img.created_by}}</strong>
                        </p>
                            <img src="{{ img.image.url }}" class="img-responsive" style="width:100%;margin-left: 0%;margin-top:15px; ">
                        </a>
                        <div class="container">
                            <div class='likesect'>
                                <br>
                                <p href="#" style="text-decoration:none">{{img.description}}</p>
                        <div class='commentsection'>
                            <br>
                            {% if img.created_by == user %}
                            <a href="{% url 'post-delete' img.pk %}" class="btn btn-outline-dark">delete</a>
                            <a href="{% url 'post-detail' img.pk %}" class="btn btn-outline-dark">Оставить комент</a>
                            {% endif %}
                            <hr>
                            <br>
                            <span class='dot02'></span>
                        </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% include 'includes/pagination.html' %}
            </div>
        </div>
    </div>
</div>
{% endblock %}