{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="card" style="width: 18rem;">
  <img src="{% static 'img/avatar.png' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ p.user }}</h5>
  </div>
</div>
<br>
      <a href="{% url 'edit_profile' %}" class="btn btn-outline-dark">Редактировать</a>
      ****
      <a href="{% url 'create_post' %}" class="btn btn-outline-dark">Новый пост</a>
      ***
      <a href="{% url 'logout' %}" class="btn btn-outline-dark">Выйти</a>
<br>
<br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">First name</th>
      <th scope="col">Last name</th>
      <th scope="col">Phone number</th>
      <th scope="col">Bio</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ p.first_name }}</td>
      <td>{{ p.last_name }}</td>
      <td>{{ p.phone }}</td>
      <td>{{ p.bio}}</td>
    </tr>
  </tbody>
</table>
<div class="card-group">
  {% for img in user_posts %}
  {% if img.created_by == user %}
  <div class="card" style="width: 18rem;">
  <img src="{{ img.image.url }}" class="card-img-top" width="100" height="100" alt="...">
  <div class="card-body">
    <p class="card-text">{{img.description}}</p>
  </div>
  <div class="card-body">
    <a href="{% url 'post-update' img.pk %}" class="btn btn-outline-dark">Редактировать пост</a>
    <a href="{% url 'post-delete' img.pk %}" class="btn btn-outline-dark">Удалить пост</a>
  </div>
</div>
  {% endif %}
  {% endfor %}
</div>

{% endblock %}

<div class="card-group" style="width: 5rem;">
  <img src="" class="img-thumbnail" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{img.created_by}}</h5>
    <p class="card-text">{{img.description}}.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
<img src="{% static 'img/avatar.png' %}">