{% extends "feed/layout.html" %}
{% load static %}
<form
  class="form-inline my-2 my-lg-0 ml-5"
  action="{% url 'search_posts' %}"
  method="get"
>
  <input name="p" type="text" placeholder="Search posts.." />
  <button class="btn btn-success my-2 my-sm-0 ml-4" type="submit">
    Search
  </button>
</form>
 {% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      {% if not posts %}
      <br />
      <h2><i>No posts match the tag provided!</i></h2>
      {% endif %} {% for post in posts %}
      <div class="card card-signin my-5">
        <div class="card-body">
          <a href="{{ post.username.profile.get_absolute_url }}"
            ><img
              src="{{ post.username.profile.image.url }}"
              class="rounded-circle"
              width="30"
              height="30"
              alt=""
          /></a>
          <a
            class="text-dark"
            href="{{ post.username.profile.get_absolute_url }}"
            ><b>{{ post.user_name }}</b></a
          >
          <br /><small class="text-muted"
            >Posted on {{ post.date}}</small
          >
          <br /><br />
          <p class="card-text text-dark">{{ post.description }}</p>
        </div>
        <a href="{% url 'post-detail' post.id %}"
          ><img class="card-img-top" src="{{ post.pic.url }}" alt=""
        /></a>
        <div class="card-footer">
          <button class="btn btn-white mr-3 like" id="{{ post.id }}">
            {% endif %}
          </button>
          <a class="btn btn-outline-info" href="{% url 'post-detail' post.id %}"
            >Comments | {{ post.details.count }}</a
          >
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}