{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-8">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Sign Up</h3>
                    <form method="post" novalidate>
                        {% csrf_token %}
                        {% include 'includes/form.html' %}
                        <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
                        <a href="{% url 'login' %}" class="btn btn-primary btn-block">Log in</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}